In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.3.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:4 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,108 kB]
Ign:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:12 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:13 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,080 kB]
Get:14 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [92.1 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,990 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,202 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,545 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,421 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,161 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,322 kB]
Fetched 16.2 MB in 3s (5,222 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-09-21 13:16:01--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.59MB/s    in 0.6s

2022-09-21 13:16:02 (1.59 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Vine-Review-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

Load in the dataset from Deliverable 1

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Sports_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)

In [5]:
# Create the vine_table DataFrame"
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])

The data type for the star rating was not imported correctly. It will need to be switched to an integer type

In [8]:
from pyspark.sql.types import IntegerType
vine_df = vine_df.withColumn("star_rating", vine_df["star_rating"].cast(IntegerType()))
vine_df.dtypes

[('review_id', 'string'),
 ('star_rating', 'int'),
 ('helpful_votes', 'int'),
 ('total_votes', 'int'),
 ('vine', 'string'),
 ('verified_purchase', 'string')]

In [9]:
#Show the vine df
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1WBPB8MDCCN8F|          5|            0|          0|   N|                N|
|R32M0YEWV77XG8|          5|            1|          1|   N|                Y|
| RR8V7WR27NXJ5|          1|            0|          0|   N|                Y|
|R1MHO5V9Z932AY|          5|            0|          0|   N|                Y|
|R16PD71086BD2V|          5|            0|          1|   N|                N|
|R1Z8IFGWTRWXT6|          3|            0|          0|   N|                Y|
|R3AUMSHAW73HWN|          4|            2|          3|   N|                N|
|R2KWDWFOHGX6FL|          5|            0|          0|   N|                Y|
|R3H9543FWBWFBU|          5|            1|          1|   N|                Y|
| RUANXOQ9W3OU5|          5|            0|          0|   N|                Y|
|R31673RTGEZSW7|          5|            2|          2|   N|                Y|
|R22OQLFSH42RCM|          5|            1|          1|   N|                Y|
|R12LEL4F3TSZUJ|          5|            2|          2|   N|                Y|
|R2L9XWD03072NI|          5|            1|          2|   N|                Y|
|R2K0U91HIACANO|          5|            0|          0|   N|                N|
|R29SP6MBT7MXG7|          4|            3|          3|   N|                Y|
|R31XREAAMATEPY|          5|            0|          0|   N|                Y|
|R2116AVB87SO38|          5|            0|          0|   N|                Y|
|R3RDVBB6O0X3HW|          5|            0|          0|   N|                Y|
|R3LW5T149LKKQM|          4|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [10]:
#Filter dataframe to show only total votes greater than 20 to be more helpful and avoid division by zero later on
vine_greater_than_20_df = vine_df.filter(vine_df["total_votes"] >= 20)
vine_greater_than_20_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|
|R19G3LWRFBHDX3|          1|            4|         42|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [12]:
#Filter new df to retrieve all rows where the number of helpful votes divided by total votes is equal to or greater than 50%
vine_helpful_votes_df = vine_greater_than_20_df.filter((vine_greater_than_20_df["helpful_votes"])/ (vine_greater_than_20_df["total_votes"]) >= 0.5)
vine_helpful_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|
| RJ0T139KDORXP|          5|           23|         24|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [14]:
#Filter new df to retrieve all rows where a review was written as part of the Vine program (paid), vine == 'Y'
vine_member_df = vine_helpful_votes_df.filter(vine_helpful_votes_df['vine'] == 'Y')
vine_member_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|
|R2IPKK4I0XRCFR|          4|           16|         21|   Y|                N|
| RXYYJ8SGI9IX6|          5|           36|         41|   Y|                N|
|R1SAUBFC7T6JHC|          5|           73|         75|   Y|                N|
|R329HVJKKHWSG3|          5|           59|         59|   Y|                N|
| RZL21K50M52KW|          5|           22|         22|   Y|                N|
|R24RC5J2D92SBE|          5|           19|         20|   Y|                N|
|R1803HITBY7Y08|          4|           92|        104|   Y|                N|
|R1888B8Z6QWYZ4|          4|           18|         25|   Y|                N|
|R1S538NK2I5PRL|          5|           21|         22|   Y|                N|
| RZDTBIS1289HJ|          5|           26|         28|   Y|                N|
|R1MWLO2PFODMQ3|          5|           31|         32|   Y|                N|
|R3O6EMC0ISQY92|          4|           25|         27|   Y|                N|
|R1OGJY9TSNXXX3|          5|           19|         22|   Y|                N|
| R3AOPWQNKJ6VE|          5|           25|         29|   Y|                N|
|R1XJFRM9ANTVSZ|          4|           44|         46|   Y|                N|
|R1VDF41NJMDGBT|          2|           23|         29|   Y|                N|
|R2C0QDBA4NEEKD|          3|          173|        200|   Y|                N|
|R3TUMV5DZL433H|          4|           29|         38|   Y|                N|
| RVU1EA54INF9T|          5|           19|         21|   Y|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [16]:
#Repeat the last step but for all the votes where it was not part of the vine program
vine_nonmember_df = vine_helpful_votes_df.filter(vine_helpful_votes_df["vine"] == 'N')
vine_nonmember_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|
| RJ0T139KDORXP|          5|           23|         24|   N|                Y|
|R30MVK7HP2DW91|          5|           84|        124|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [18]:
#import helper functions for analysis
from pyspark.sql.functions import sum

In [52]:
#Determine the total number of reviews for each type of review (member vs nonmember)
member_total_votes = vine_member_df.select(sum("total_votes")).first()['sum(total_votes)']
member_total_votes

24171

In [58]:
nonmember_total_votes = vine_nonmember_df.select(sum("total_votes")).first()['sum(total_votes)']
nonmember_total_votes

3456395

In [53]:
#Determine the number of 5-star reviews for each type (member vs nonmember)
member_5_star_reviews = vine_member_df.filter(vine_member_df["star_rating"] == 5).select(sum("total_votes")).first()['sum(total_votes)']
member_5_star_reviews

9833

In [59]:
nonmemeber_5_star_reviews = vine_nonmember_df.filter(vine_nonmember_df['star_rating'] ==5).select(sum("total_votes")).first()['sum(total_votes)']
nonmemeber_5_star_reviews

1898455

In [55]:
#Determine percentage of 5 star reviews for each type (member vs nonmember)
member_percentage = (member_5_star_reviews)/(member_total_votes) * 100
member_percentage

40.680981341276734

In [60]:
nonmember_percentage = (nonmemeber_5_star_reviews)/(nonmember_total_votes) * 100
nonmember_percentage

54.925869294452745

In [80]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [85]:
schema = StructType([StructField("Member Type", StringType(), True)\
                   ,StructField("Total Reviews", IntegerType(), True)\
                   ,StructField("5 Star Reviews", IntegerType(), True)\
                   ,StructField("5 Star Percentage", FloatType(), True)])

In [86]:
#Create new dataframe to hold all new information

final_df = spark.createDataFrame([
    ("Vine Member", member_total_votes, member_5_star_reviews, member_percentage),
    ("Non Vine Member", nonmember_total_votes, nonmemeber_5_star_reviews, nonmember_percentage)
    ], schema=schema)

final_df.show()

+---------------+-------------+--------------+-----------------+
|    Member Type|Total Reviews|5 Star Reviews|5 Star Percentage|
+---------------+-------------+--------------+-----------------+
|    Vine Member|        24171|          9833|         40.68098|
|Non Vine Member|      3456395|       1898455|         54.92587|
+---------------+-------------+--------------+-----------------+

In [87]:
#Convert to pandas df
final_df.toPandas()

       Member Type  Total Reviews  5 Star Reviews  5 Star Percentage
0      Vine Member          24171            9833          40.680981
1  Non Vine Member        3456395         1898455          54.925869